
 /*GENERALES*/

 /*colores

coral #f69380
neutro #eeece8
rosa #fcdbd7
celeste gris #6d8394

tipo gris #8e8b8a

fin colores*/


h1{
	font-family: 'almendra', serif;
	font-size: 330%;
	letter-spacing: 0.5px;
}
  
  

h2{
	font-family: 'open sans', sans-serif;
	font-size: 150%;
	font-weight: bold;
}

h3{
	font-family: 'open sans', sans-serif;
	font-size: 100%;
	font-weight: bold;
}

p{
	color: #8e8b8a;
	font-family: 'open sans', sans-serif;
	margin: 0;
	line-height: 22px;
}



 /**********separadores*******/


.separador-coral{
	border: 1px solid #f69380;
	margin: 10px 0px 10px 0px;
}

.separador-rosa{
  	border: 1px solid #fcdbd7;
	margin: 10px 0px 10px 0px;
}

.separador-azul{
	border: 1px solid #6d8394;
	margin: 10px 0px 10px 0px;
}

.separador-azul-claro{
	border: 1px solid #8AA2B2;
	margin: 10px 0px 10px 0px;
}

.separador-blanco{
	border: 1px solid #eeece8;
	margin: 10px 0px 10px 0px;
}


 /**********titulos y subtitulos*******/


 .titulo-almendra-coral{
	color: #f69380;
	font-family: 'almendra', serif;
	line-height: 90%;
	margin:0;
	padding: 0;
 }

 .titulo-almendra-azul{
	color: #6d8394;
	font-family: almendra, serif;
	line-height: 90%;
	margin:0;
	padding: 0;
}

.titulo-almendra-blanco{
	color: #eeece8;
	font-family: almendra, serif;
	line-height: 90%;
	margin:0;
	padding: 0;
}

.h2-almendra-coral{
	font-family: 'almendra', serif;
	line-height: 90%;
	color: #f69380;
	font-size: 120%;
}

.h2-open-coral{
	font-family: 'open-sans', sans-serif;
	line-height: 90%;
	color: #f69380;
	font-size: 110%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.h2-almendra-azul{
	font-family: 'almendra', serif;
	line-height: 90%;
	color: #6d8394;
	font-size: 22px;
	padding-bottom: 0%;
	margin: 0;
}

.h2-open-azul{
	font-family: 'open-sans', sans-serif;
	line-height: 90%;
	color: #6d8394;
	font-size: 110%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.h2-open-blanco{
	font-family: 'open-sans', sans-serif;
	line-height: 90%;
	color: #eeece8;
	font-size: 110%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.titulo-chico-coral{
	color: #f69380;
	text-transform: uppercase;
	font-size: 80%;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	margin-bottom: 2%;
}

.subtitulo-rosa{
	color: #fcdbd7;
	margin-bottom: 5%;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

.titulo-chico-azul{
	color: #6d8394;
	text-transform: uppercase;
	font-size: 80%;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	margin-bottom: 2%;
}

 .subtitulo-coral{
	color: #f69380;
	margin-bottom: 5%;
	font-family: open sans, sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

 .subtitulo-azul{
	color: #6d8394;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

.subtitulo-azul-chico{
	color:#6d8394;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin:0;
	text-decoration: none;
}

.subtitulo-azul-chico-underline{
	color:#6d8394;
	text-decoration: underline;
	font-family: open sans, sans-serif;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom:5px;
}

 /**********animaciones*******/

 .tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}
  }
  
.scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both 0.5s;
}


 @-webkit-keyframes scale-in-ver-top {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
  }
  @keyframes scale-in-ver-top {
	0% {
	  -webkit-transform: scaleY(0);
			  transform: scaleY(0);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
	100% {
	  -webkit-transform: scaleY(1);
			  transform: scaleY(1);
	  -webkit-transform-origin: 100% 0%;
			  transform-origin: 100% 0%;
	  opacity: 1;
	}
  }
  


 /**********botones*******/

 a:hover {
	text-decoration: none;
  }

.boton-azul{
	padding: 8px 12px 8px 12px;
	background-color: #6d8394;
	color: #eeece8;
	font-family: 'open sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2%;
	font-size: 70%;
	text-decoration: none;
	display: inline-block;
	border-radius: 0.5rem;
	transition: all 0.4s ease-out;
	height: 33px;
}
 
.boton-azul:hover {
   color: #6d8394;
   border: 2px solid #6d8394;
   text-decoration: none;
   background-color:transparent;
   height: 33px;
 }

 .boton-coral{
 	padding: 8px 12px 8px 12px;
 	background-color: #f69380;
 	color: #eeece8;
 	font-family: 'open sans', sans-serif;
 	text-transform: uppercase;
 	font-weight: bold;
 	letter-spacing: 2%;
 	font-size: 70%;
 	text-decoration: none;
	 display: inline-block;
	 border-radius: 0.5rem;
	 transition: all 0.4s ease-out;
	 height: 33px;
 }
  
.boton-coral:hover {
	color: #f69380;
	border: 2px solid #f69380;
	text-decoration: none;
	background-color:transparent;
	height: 33px;
  }



 /****************MENU***************/

#nav-menu{
	position: relative;
}

#nav-menu button{
	position: absolute;
	z-index: 1;
}

#menu-header{
	width: 100%;
	position: absolute;
	z-index: 1;
	top:0px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
	padding: 2% 0% 2% 0%;
}

#menu-header a img{
	width: 90%;
}

.page{
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #f69380;
	font-size: 100%;
	letter-spacing: 1px;
	transition: color 0.2s ease-in-out;
}


.page:hover {color:#6d8394;}

.current-page{
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color:#6d8394;
	font-size: 100%;
	letter-spacing: 1px;
}

.current-page:hover{color:#6d8394;}


 /****************ESTILOS-HOME***************/


 /*BIENVENIDA*/


.fondo-rosa-inicio {
	background-image: url("../img/fondo.jpg");
	background-color: #fcdbd7;
	background-repeat: no-repeat;
	background-size: cover; 
	text-align: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	height: 750px;
}

.texto-bienvenida{
	width: 600px;
	align-self:center;
	margin-top:8%;
	padding: 5%;
}

.texto-bienvenida h1{
	color:#6d8394;
	margin: 0;
}

.index-texto{
	padding-top: 2%;
}

.texto-bienvenida a{
	margin-top: 5%;
}

.index-foto{
	position: relative;
}

#izquierda-1{
	transform: rotate(-15deg);
	position: absolute;
	top: 400px;
	z-index: 1;
}

#izquierda-2{
	transform: rotate(15deg) translateX(15px);
	margin-top: 200px;
}

#derecha-1{
	transform: rotate(15deg);
	position: absolute;
	top: 400px;
	z-index: 1;
}

#derecha-2{
	transform: rotate(-15deg) translateX(-15px);
	margin-top: 200px;
}


 /*POR-QUE-SURGIO*/


.nacimiento {
	background-color: #eeece8;
	padding: 10% 20% 10% 20%;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-row: repeat (3, 1fr);
	justify-content: space-between;
	align-content: space-between;
	grid-template-areas: 
	'titulo caja'
	'ilustracion caja'
	'ilustracion caja'
}


.ilustracion-nacimiento{
	grid-area: ilustracion;
	width: 70%;
	align-self: end;
}

.titulo-nacimiento{
	grid-area: titulo;
}

.titulo-nacimiento h1{
	color: #f69380;
	width: 80%;
	line-height: 100%;
}

.titulo-nacimiento p{
	color: #f4b7ae;
	font-family: open sans, sans-serif;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	padding-bottom: 5%;
}

.cajon-nacimiento{
	grid-area: caja;
	background-color: #fcdbd7;
	padding: 15%;
	margin: 5% 0% 5% 0%;
	border-radius: 0.3em;
}


.cajon-nacimiento h3{
	color:#f69380;
	padding-bottom: 0%;
	line-height: 20px;
}

.cajon-nacimiento p{
	line-height: 20px;
	font-size: 90%;
}

.razon-nacimiento{
	margin-bottom: 10%;
}


 /*QUIENES-SOMOS*/

.quienes-somos{
	background-color: #6d8394;
	padding: 10% 20% 10% 20%;
}

.quienes-somos h1{
	color: #eeece8;
	text-align: center;
	padding-bottom: 1%;
}

#cajas-pibas{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.piba-descripcion{
	background-color: #fcdbd7;
	padding: 3%;
	width: 32%;
	border-radius: 0.3em;
}


.piba-descripcion img{
	width: 100%;
	padding-bottom: 10%;
}


.descripcion-artista{
	font-family: open sans, sans-serif;
	margin: 2% 0% 5% 0%;
	color: #8e8b8a;
	font-size: 90%;
	line-height: 130%;
	padding-bottom: 3%;
	height: 90px;
}




 /*POR QUE HACER CERAMICA*/

 .hacer-ceramica{
 	background-color: #eeece8;
 	padding: 10% 20% 10% 20%;
 	text-align: center;
 }

 .hacer-ceramica h1{
 	color: #6d8394;
 }

 .cajas-hacer{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: center;
	align-items: baseline;
	margin: 3% 0% 4% 0%;
 }

 .caja-hacerceramica{
 	width: 26%;
 	padding: 1%;
 	text-align: center;
 	margin-bottom: 1%;
 }

  .caja-hacerceramica h2{
 	color:#6d8394;
 	font-size: 100%;
 	padding-bottom: 2%;
 	line-height: 120%;
 }

   .caja-hacerceramica p{
 	font-size: 90%;
 }

 .ilus-hacer{
 	width: 60%;
 	padding-bottom: 5%;
 }



 /****************ESTILOS-SHOP***************/


 #main-shop{
 	background-color: #eeece8;
 	padding: 15%;
 	padding-bottom: 10%;
 	display: flex;
 	flex-flow: row wrap;
 	justify-content: flex-start;
 }


  /*CAJA*/

 #caja-shop{
 	background-color: #eeece8;
 	width: 30%;
 	height: 100%;
 	margin-right: 5%;
 	box-shadow: 5px 5px 20px 5px #e5e1dc;
 }

  #caja-shop hr{
  	border: 1px solid #f69380;
	  border-radius: 5px;
	  margin-bottom: 20px;
  }

 #caja-sintitulo{
 	padding: 10%;
 }

 #shop-parrafo{
 	margin-bottom: 10%;
 }

 #shop-cuotas{
 	font-family: 'open-sans', sans-serif;
 	font-size: 90%;
 	font-weight: bold;
 	text-transform: uppercase;
 	color: #f69380;
	 margin-top: 8%;
	 margin-bottom: 10%;
 }



 #shop-cuotas ul{
	list-style-image: url(../img/shop/tick.png);
	margin-left: 8%;
 }

  #titulo-caja-shop{
	color: #eeece8;
	font-family: almendra, serif;
	line-height: 90%;
	background-color: #f69380;
	padding: 10% 0% 10% 10%;
}

#shop-filtros h2{
	margin-bottom: 5%;
	margin-top: 5%;
	font-size: 120%;
}

.titulo-filtro{
	color: #6d8394;
	text-transform: uppercase;
	font-size: 80%;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	margin-bottom: 3%;
}

.opciones-filtro{
	color:#8e8b8a;
	line-height: 120%;
	margin-bottom: 5%;
}

.badge-pill {
	padding: 0.3em 0.8em 0.3em 0.8em;
	border: 1px solid #ada9a8;
	border-radius: 10rem;
	background-color: #eeece8;
	margin-bottom: 3%;
	font-family: 'open-sans', sans-serif;
	font-weight: normal;
	font-size: 80%;
  }

  .badge-light {
	color: #8e8b8a;
	background-color: #eeece8;
  }
  
  li.badge-light:hover, li.badge-light:focus {
	color: #eeece8;
	background-color: #8e8b8a;
  }
  
  a.badge-light:focus, a.badge-light.focus {
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
  }


 /*PRODUCTOS*/

#productos{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
	width: 60%;
}

.producto {
	background-color: #fcdbd7;
	padding: 4%;
	width: 48%;
	margin-bottom: 5%;
	border-radius: 0.3em;
}

.producto:hover{
	box-shadow: 5px 5px 5px 1px rgba(209, 207, 205, 0.5);
}

.comprar-producto{
	margin-top: 7%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

 .imagen-producto{
	 width: 100%;
	 padding-bottom: 8%;
 }

 .producto hr{
	opacity: 0.5;
	border: 0.5px solid #F69380 ;
}

.precio-producto{
	font-family: 'almendra', serif;
	color: #f69380;
	font-size: 250%;
	margin-right: 2px;
	margin-bottom: 2%;
}

.por-unidad{
	font-family: 'open-sans', sans-serif;
	font-style: normal;
	color: #f69380;
	font-size: 90%;
	text-align: left;
	width: 50px;
	line-height: 100%;
	margin-right: 5%;
}

.nombre-like{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
}

.nombre-like p{
	margin-top: 2%;
	padding-top: 0;
}

.like{
	position: relative;
	opacity: 1;
	margin-right:10% ;
}

.icono-like{
	width: 25px;
	color: #f69380;
	position: absolute;
	opacity: 1;
}

.icono-like-lleno{
	width: 25px;
	color: #f69380;
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

.like:hover .icono-like-lleno{
	opacity: 1;
}




 /****************ESTILOS-TALLERES***************/

 /*INICIO*/


 .fondo-rosa{
	background-image: url("../img/fondo.jpg");
	background-color: #fcdbd7;
	padding:18% 20% 10% 20%;
	background-repeat: no-repeat;
	background-size: cover; 
	text-align: center;
 }

#talleres-inicio{
	margin-top: 5%;
	display: flex;
	flex-flow: row nowrap;
	align-items: baseline;
	justify-content: space-around;
}

.inicio-parrafos{
	width: 380px;
	padding: 2%;
	background-color: #eeece8;
	border-radius: 0.3rem;
	animation-delay: 3s;
	-webkit-animation: scale-up-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;	
	animation: scale-up-top 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both 1s;
}
 @keyframes scale-up-top {
	0% {
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	}
	100% {
	  -webkit-transform: scale(1);
			  transform: scale(1);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	}
  }
  

.inicio-parrafos h2{
	padding: 0% 5% 2% 5%;
	margin: 0%;
}

.inicio-parrafos p{
	margin-bottom: 4%;
	padding: 0% 5% 0% 5%;
}

.inicio-parrafos a{
	margin-bottom: 5%;
}

.titulo-talleres-caja{
	font-family: 'open-sans', sans-serif;
	text-transform: uppercase;
	background: #f69380;
	color:#eeece8;
	padding: 5%;
	text-align: center;
}


 /*TALLERES-DISPONIBLES*/

 #talleres-disponibles{
	background-color: #eeece8;
	padding: 5% 20% 0% 20%;
}

.talleres-ilus{
	width: 50%;
	margin-bottom: 4%;
}

#talleres-titulo p{
	margin-top: 2%;
	margin-bottom: 2%;
}

#grid-talleres{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	'anuales opcion-anuales'
	'workshops opcion-workshops'

}

.talleres-items{
	font-family: 'open-sans', sans-serif;
	line-height: 140%;
	color: #f69380;
	list-style-type: circle;
	list-style-image: url('img/talleres/tick.svg');
}

 /*TALLERES-anuales*/

#anuales{
	grid-area: anuales;
	width: 280px;
}

#opcion-anuales{
	grid-area: opcion-anuales;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

#opcion-anuales a{
	background-color: #fcdbd7;
 	margin-right: 5%;
	 box-shadow: 5px 5px 20px 5px #e5e1dc;
	 border-radius: 0.3rem;
}

#opcion-anuales p{
	padding-top: 1%;
	padding-bottom: 7%;
	font-size: 90%;
	line-height: 120%;
}

.texto-interno-talleres{
	padding: 8%;
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
  }
  

 /*TALLERES-workshops*/


#workshops{
	grid-area: workshops;
	padding-right: 15%;
	margin-top: 8%;
}

#opcion-workshops{
	grid-area: opcion-workshops;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin-top: 8%;
}

#opcion-workshops a{
	margin-right: 5%;
}

.p-talleres{
	font-size: 90%;
	line-height: 140%;
	padding-bottom: 5%;
	padding-top: 5%;
}

.workshop-1{
	position: relative;
	border-radius: 0.3rem;
}

.workshop-imagen{
	width: 250px;
    height: 250px;
    object-fit: cover;
    display: block;
	box-shadow: 5px 5px 20px 5px #e5e1dc;
	border-radius: 0.3rem;
}

.workshop-overlay{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 250px;
	width: 250px;
	opacity: 0;
	background-color: #f69380;
	transition: opacity .5s ease;
	border-radius: 0.3rem;
}

.workshop-overlay h3{
	font-family: 'almendra', serif;
	font-size: 120%;
	color: #eeece8;
	top: 0;
	left: 0;
	padding-top: 40%;
	text-align: center;
}

.workshop-overlay p{
	font-family: 'open-sans', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 80%;
	color: #eeece8;
	top: 0;
	left: 0;
	text-align: center;
}

.workshop-1:hover .workshop-overlay{
	opacity:0.9;
}


 /*TALLERES-expo*/


#workshops-expo{
	padding: 10% 20% 10% 20%;
	background-color:#6d8394;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #fcdbd7;
  border-radius: 50%;
  display: inline-block;
}

#titulo-expo2020{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5%;
}

.separador-rosa-grueso {
	opacity: 0.5;
	border: 1px solid ;
  	border-radius: 5px;
	color:#fcdbd7;
}

#subtitulo-expo2020 p{
	font-size: 130%;
	font-family: 'open-sans', sans-serif;
	color: #eeece8;
	font-size: 110%;
	letter-spacing: 1px;
	margin-bottom: 3%;
	margin-top: 3%;
	text-align: center;
}

#titulo-expo2020 p{
	color: #fcdbd7;
	font-family: 'open-sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 90%;
	text-align: center;
}


#expo-talleres{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 5%;
}

.taller-expo{
	display: flex;
	flex-flow: row nowrap;
	width: 595px;
	margin-bottom: 2%;
}

.taller-expo-chico{
	width: 250px;
}

.taller-div{
	background:#eeece8;
	padding: 30px;
	margin: 0%;
	height: 250px;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}


.taller-div h3{
	font-family: 'almendra', serif;
	color:#f69380;
	font-size: 180%;
	margin: 0;
	line-height: 100%;
}

.taller-div-alto{
	height: 150px;
}

.taller-expo-profesor{
	font-family: 'open-sans',sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
	color:#6d8394;
	margin-bottom: 1%;
}

.taller-expo-texto{
	margin-bottom: 2%;
	font-size: 90%;
	line-height: 140%;
}

.taller-expo-fecha{
	font-family: 'open-sans',sans-serif;
	font-size: 90%;
	letter-spacing: 1px;
	color:#f69380;
	margin-bottom: 2%;
	line-height: 120%;
}

.taller-expo-img{
	width: 200px;
}

.destacado-almendra{
	font-family: 'almendra', serif;
	color:#eeece8;
	font-size: 200%;
	text-align: center;
	margin-top: 7%;
}




 /****************ESTILOS-EXPOSICIONES***************/

 #expo-titulo-head p{
	margin-top: 2%;
}

 /*EXPOSICIONES-ecnontrar*/


#expo2020-encontrar{
	padding: 5% 20% 5% 20%;
	background-color: #eeece8;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}

#expo2020-encontrar article{
	text-align: center;
}

#expo2020-encontrar div{
	width: 180px;
	margin-right: 10%;
	text-align: left;
}

#expo2020-encontrar article img{
	width: 40%;
	margin-bottom: 4%;
}

#expo2020-encontrar article h2{
	font-size: 120%;
	letter-spacing: 0.5px;
	margin-bottom: 5%;
}

#encontrar-titulo{
	align-self: flex-start;
}

#encontrar-titulo h1{
	font-size: 240%;
	line-height: 100%;
	text-align: center;
	margin-bottom: 8%;
}

#encontrar-titulo p{
	font-family: 'open-sans', sans-serif;
	color: #8199AA;
	font-size: 110%;
	letter-spacing: 0.5px;
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	margin-top: 7%;
	margin-bottom: 6%;
	text-align: center;
}


 /*EXPOSICIONES-expositoras*/


#expositoras-back{
	padding: 10% 20% 10% 20%;
	background-color: #6d8394;
	text-align: center;
}

#expositoras-back h1{
	color: #eeece8;
	margin-bottom: 5%;
}


#exponen{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(2,1fr);
	justify-content: space-between;
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	grid-template-areas: 
	'expone-artista1 expone-artista2 expone-especial'
	'expone-artista3 expone-artista4 expone-especial'
}

.img-expositora{
	width: 100%;
    height: 100%;
    object-fit: cover;
	display: block;
	box-shadow: 5px 5px 20px 5px #5c6e7a;
}

#expone-artista1{
	grid-area: expone-artista1;
	position: relative;
}

.expone-artista-overlay{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: #6d8394;
	transition: opacity .5s ease;
	text-align: center;
}

.expone-artista-especial-overlay{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	background-color: #f69380;
	transition: opacity .5s ease;
	text-align: center;
}

#expone-artista2{
	grid-area: expone-artista2;
	position: relative;
}

#expone-artista3{
	grid-area: expone-artista3;
	position: relative;
}

#expone-artista4{
	grid-area: expone-artista4;
	position: relative;
}

#expone-especial{
	grid-area: expone-especial;
	position: relative;
}

#expone-especial:hover .expone-artista-especial-overlay, #expone-artista1:hover .expone-artista-overlay, #expone-artista2:hover .expone-artista-overlay, #expone-artista3:hover .expone-artista-overlay, #expone-artista4:hover .expone-artista-overlay{
	opacity:0.9;
}

.expone-overlay-texto{
	margin-top: 40%;
	margin-bottom: 50%;
	padding: 0% 10% 0% 10%;
}

.expone-overlay-texto h2{
	font-family: 'almendra', serif;
	color:#fcdbd7;
	font-size: 180%;
}

.expone-overlay-texto img{
	width: 10%;
}

.expone-overlay-texto p{
	color: #eeece8;
	margin-bottom: 5%;
}



 /*EXPOSICIONES-agenda*/


#agenda-2020{
	padding: 10% 20% 10% 20%;
	background-color: #eeece8;
}

#agenda-titulo{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10%;
	text-align: center;
}

#agenda-titulo p{
	width: 150px;
	font-family: 'open-sans', sans-serif;
	color: #6d8394;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80%;
	line-height: 120%;
	letter-spacing: 1px;
}

#agenda-flex hr{
	width: 700px;
	display: block;
	margin:auto;
	border-style: dotted;
}

.agenda-dia{
	width: 900px;
	margin: 40px 0px 40px 0px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.agenda-dia img{
	width: 10%;
	margin-right: 2%;
}

.dia-horario{
	background-color: #f69380;
	padding: 10px 15px 10px 15px;
	font-family: 'almendra', serif;
	font-weight: bold;
	color: #eeece8;
	font-size: 105%;
	letter-spacing: 1px;
	border-radius: 0.25em;
}

.dia-horario-azul{
	background-color:#6d8394;
	padding: 2%;
	font-family: 'almendra', serif;
	font-weight: bold;
	color: #eeece8;
	font-size: 110%;
	letter-spacing: 1px;
	border-radius: 0.25em;
}

.dia-texto{
	width: 300px;
	margin-left: 5%;
}

.dia-texto h3{
	font-family: 'almendra',sans-serif;
	font-weight: bold;
	color: #f69380;
	font-size: 150%;
	margin-bottom: 0%;
	padding: 0%;
}

#almuerzo{
	font-family: 'open-sans',sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	color: #6d8394;
	font-size: 140%;
	margin-bottom: 0%;
	padding: 0%;
}

.agenda-profesor{
	font-family: 'open-sans',sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1px;
	color:#f69380;
	margin-bottom: 1%;
}

.boton-coral-borde{
	padding: 8px 12px 8px 12px;
	margin-top: 1%;
	border: 1px solid #f69380;
	color: #f69380;
	font-family: 'open sans', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2%;
	font-size: 60%;
	text-decoration: none;
	display: inline-block;
	border-radius: 2em;
	transition: transform 0.2s ease-in;
}

.boton-coral-borde:hover{
	color: #f69380;
	transform: scale(1.07);
}



 /*EXPOSICIONES-entradas*/

#entradas{
	padding: 10% 20% 10% 20%;
	background-color: #fcdbd7;
}

#entrada-titulo{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 6%;
}

#entrada-titulo h1{
	margin-bottom: 2%;
}

#entradas-flex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: baseline;
}

#entradas-flex article{
	width: 350px;
	text-align: center;
}

.entrada-caja h2{
	font-size: 150%;
	margin-bottom: 0;
}

#entradas-flex p{
	margin-bottom: 4%;
}

#entradas-flex a{
	margin-top: 2%;
}

#entrada-img-izquierda{
	transform: rotate(-20deg);
	margin-right: 5%;
}

#entrada-img-derecha{
	transform: rotate(20deg);
	margin-left: 5%;
}


 /****************CONTACTO***************/

#contacto{
	padding: 10% 15% 10% 15%;
	background-color:#eeece8 ;
}

#contacto-caja-texto h1{
	font-size: 300%;
	margin-bottom: 0%;
	padding: 0%;
}

#contacto-subtitulo{
	font-family: 'open-sans', sans-serif;
	line-height: 110%;
	color: #8199AA;
	font-size: 90%;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 2% 0% 4% 0%;
	padding: 0%;
}

#contacto-caja-texto img{
	width: 70%;
	margin-bottom: 8%;
}

#contacto-flex{
	margin-top: 10%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: flex-start;
}

#contacto-caja-texto{
	width: 350px;
}

.contacto-parrafo{
	margin: 3% 0% 5% 0%;
	width: 80%;
}

#contacto-caja-texto ul{
	margin-top: 2%;
}

#contacto-caja-texto ul li{
	color: #8e8b8a;
}

 /*CONTACTO-form*/

fieldset{
	width: 600px;
}

.formulario-label{
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	font-size: 70%;
	color: #6d8394;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.formulario-nombre{
	margin-bottom: 2%;
}

.form-control{
	background-color: #fff;
	background-clip: padding-box;
	border: none;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.form-control:focus {
	color: #8e8b8a;
	background-color: #fff;
	border-color: #8e8b8a;
	outline: 0;
	box-shadow: 0 0 0 0.2rem #8EAABC;
  }

.form-control::placeholder {
	font-family: 'almendra', serif;
	color: #D8D6D4;
	opacity: 1;
  }
  
textarea.form-control{
	height: 300px;
}

.botonera{
	display: flex;
	justify-content: space-between;
}

.form-check-label{
	font-family: 'open-sans', sans-serif;
	font-size: 90%;
	color:#8e8b8a;
}

.btn-primary{
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	font-size: 80%;
	letter-spacing: 1%;
	color: #EEECE8;
	background-color: #6D8394;
	border-color: #6D8394;
  }
  
  .btn-primary:hover {
	color: #EEECE8;
	background-color: #F69380;
	border-color: #F69380;
  }


 /****************FOOTER***************/


footer {
	background-color: #3a3635;
	padding: 5% 9% 1% 9%;
}

.logo-chico{
	width: 70%;
}

#footer-flex{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 6%;
}

#footer-flex a:hover{
	color: #F69380;
}

#footer-flex div{
	width: 160px;
}

.titulo-almendra-gris{
	font-family: 'almendra', serif;
	font-weight: bold;
	font-size: 100%;
	text-decoration: none;
	color: #cccac8;
	letter-spacing: 2px;
}

.texto-footer{
	margin-top: 5%;
	font-family: 'open-sans', sans-serif;
	font-weight: normal;
	line-height: 130%;
	font-size: 80%;
	letter-spacing: 1px;
	color:#726d6d;
}

.separador-gris{
  margin-bottom: 1%;
  border-style: solid;
  border: 1px solid;
  color: #494544;
}

#disenado-por{
	font-family: 'open-sans', sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 80%;
	color:#726d6d;
	text-align: center;
}












